<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax数据提交</title>
    <script src='../static/jq/jquery-2.1.0.js'></script>


</head>
<body>


<form action="" method="post">
    <table align="center">
        <th>
                        <select class="form-control" id="d1">
                            <option value="咸阳">请选择地址</option>
                            {% for i in c_list %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
            <select id="d2">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
            <button><a href="javaScript:tijiao()">提交</a></button>
        </th>

    </table>
    <div class="container">
        <table class="table table-striped" id ='oo' align="center">
            <thead>
            <tr>
                <th>城市</th>
                <th>日期</th>
                <th>天气</th>
                <th>最高温度</th>
                <th>最低温度</th>
                <th>风力</th>
            </tr>
            </thead>
<!--            <tbody>-->

<!--            </tbody>-->
        </table>
    </div>
    </div>
</form>
<script>

        function tijiao() {
            var aa = $('#d1').val()
            var bb = $('#d2').val()
            console.log(aa)
            // 使用empty
            $("#oo").empty()
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/Post_data/",
                data: {
                    "place_name": aa,
                    "year": bb,
                },
                success: function (api) {
                    console.log(api);
                    console.log(typeof api);
                    api.api.forEach(function (a) {
                        console.log(a);
                        $("#oo").append(
                            "<tr>" +
                            "<td>" + a.name + "</td>" +
                            "<td>" + a.date + "</td>" +
                            "<td>" + a.climate + "</td>" +
                            "<td>" + a.max_air + "</td>" +
                            "<td>" + a.min_air + "</td>" +
                            "<td >" + a.wind + "</td>" +
                            "</tr>"

                        )

                    })

                }

            })}


    </script>
</body>
</html>